@import 'partials/base';


nav{
        display: flex;  
        justify-content: space-between;
}

.hero{ 
    display: flex;
    justify-content: center;
    align-items: center  
    flex-direction: column;
}

.sidebar{
    background: white;
}

.hero-content{
    h1{
        font-size: 4em;
    } 
    display: flex
    flex-direction column
    flex-direction column-reverse
}

.main-container{
    display: flex;
        .sidebar{
        flex: 1
       }
       .post{
        flex: 1
        }
} 


@media (min-width: 1024px) {

}
.mixed-layout{
    display: flex;
    flex-direction: row;
    .first{     
        flex: 1
    }
    .second{       
        flex: 1       
    }
}